* {margin:0; padding:0}
.sm {list-style:none; width:480px; height:367px; display:block; overflow:hidden}
.sm li {float:left; display:inline; overflow:hidden}
p .hola{
	{font-family: Verdana, Helvetica, Arial, sans-serif}
	}
